#thermo-control {
  width: 100%;
  height: 10vh;
  position: relative;
  font-size: 1.2em;
}

#thermo-control > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#temp-range {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#temp-range-percentage {
  color: #fff;
}

#thermo-ac-indicator {
  position: absolute;
  top: 30%;
  left: 30%;
}

#thermo-temp {
  position: absolute;
  top: 45%;
  right: 30%;
  color: #fff;
  font-size: 2em;
}

#temp-min {
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translateX(-50%);
  font-size: 2em;
  background: transparent;
  border: none;
  color: #fff;
  width: 50px;
}

#temp-max {
  position: absolute;
  top: 15%;
  right: 35%;
  transform: translateX(50%);
  font-size: 2em;
  background: transparent;
  border: none;
  color: #fff;
  width: 50px;
}

.minmax {
  width: 20px;
}
